<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy And Sell</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a href="/" class="center btn btn-primary">Home</a>
        <a href="/sell" class="btn btn-dark">Sell</a>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="center btn btn-dark">Login</a>
        <a href="/users/logout" class="center btn btn-primary">Logout</a>
        <a class="center btn btn-warning">Points: <span id="points">{{points}}</span></a>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Buy And Sell</h1>
        </div>
    </div>

    <div class="products">
        {{#each items}}
        <div class="product">
            <div class="name">
                Name: {{this.name}}
            </div>
            <div class="age">
                Age: {{this.age}}
            </div>
            <div class="cost">
                cost: {{this.cost}}
            </div>
            <button class="center btn btn-primary" data="{{this._id}}" onclick="Buy(event)">
                Buy
            </button>
        </div>
        {{/each}}
    </div>

    
    <script src="./js/index.js"></script>
</body>
</html>